log_format timed_combined '$remote_addr - $remote_user [$time_local]  '
                          '"$request" $status $body_bytes_sent '
                          '"$http_referer" "$http_user_agent" $request_time';

server {
    listen 0.0.0.0:{{ APP_PORT }};
    access_log /var/log/nginx/access.log timed_combined;
    
    location / {
        proxy_pass http://127.0.0.1:{{ GUNICORN_PORT }}/;
        proxy_set_header Host $http_host;
        proxy_redirect off;
    }

    location /static {
        alias {{ APP_STATIC_DIR }};
    }
}
